<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wkr.store_appointment.mapper.EmployeeMapper">

    <update id="update">
        update employee set name = #{name},phone = #{phone},position = #{position},remark = #{remark},update_time = #{updateTime},gender = #{gender},status = #{status}
        where id = #{id}
    </update>


    <select id="pageQuery" resultType="com.wkr.store_appointment.pojo.vo.EmployeeVO">
        select * from employee
        <where>
            <if test="name != null and name != '' ">
                and name like concat('%',#{name},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="login" resultType="com.wkr.store_appointment.pojo.entity.User">
        select * from `user` where username = #{username}
    </select>
</mapper>
