<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wkr.store_appointment.mapper.InventoryItemMapper">

    <select id="page" resultType="com.wkr.store_appointment.pojo.vo.InventoryItemVO">
        select * from inventory_item
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="category != null and category != ''">
                and category = #{category}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by update_time desc, id desc
    </select>
</mapper>
