<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wkr.store_appointment.mapper.OrderMapper">

    <sql id="OrderVoColumns">
        oi.id,
        oi.order_no as orderNo,
        oi.appointment_id as appointmentId,
        oi.customer_id as customerId,
        c.name as customerName,
        oi.service_item_id as serviceItemId,
        si.name as serviceItemName,
        oi.card_type as cardType,
        oi.original_amount as originalAmount,
        oi.discount_amount as discountAmount,
        oi.amount,
        oi.paid_amount as paidAmount,
        oi.debt_amount as debtAmount,
        oi.monthly_payment as monthlyPayment,
        oi.payment_method as paymentMethod,
        oi.debt_status as debtStatus,
        oi.pay_status as payStatus,
        oi.order_status as orderStatus,
        oi.pay_time as payTime,
        oi.create_time as createTime
    </sql>

    <select id="page" resultType="com.wkr.store_appointment.pojo.vo.OrderVO">
        select
        <include refid="OrderVoColumns"/>
        from order_info oi
        left join customer c on oi.customer_id = c.id
        left join service_item si on oi.service_item_id = si.id
        <where>
            oi.deleted = 0
            <if test="query.orderNo != null and query.orderNo != ''">
                and oi.order_no like concat('%', #{query.orderNo}, '%')
            </if>
            <if test="query.customerName != null and query.customerName != ''">
                and c.name like concat('%', #{query.customerName}, '%')
            </if>
            <if test="query.paymentMethod != null and query.paymentMethod != ''">
                and oi.payment_method = #{query.paymentMethod}
            </if>
            <if test="query.payStatus != null">
                and oi.pay_status = #{query.payStatus}
            </if>
            <if test="query.debtStatus != null">
                and oi.debt_status = #{query.debtStatus}
            </if>
            <if test="query.orderStatus != null">
                and oi.order_status = #{query.orderStatus}
            </if>
            <if test="query.beginTime != null">
                and oi.create_time &gt;= #{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and oi.create_time &lt;= #{query.endTime}
            </if>
        </where>
        order by oi.create_time desc
    </select>

    <select id="getById" resultType="com.wkr.store_appointment.pojo.vo.OrderVO">
        select
        <include refid="OrderVoColumns"/>
        from order_info oi
        left join customer c on oi.customer_id = c.id
        left join service_item si on oi.service_item_id = si.id
        where oi.id = #{id}
          and oi.deleted = 0
    </select>
    <select id="listForExport" resultType="com.wkr.store_appointment.pojo.vo.OrderVO">
        select
        <include refid="OrderVoColumns"/>
        from order_info oi
        left join customer c on oi.customer_id = c.id
        left join service_item si on oi.service_item_id = si.id
        <where>
            oi.deleted = 0
            <if test="query.orderNo != null and query.orderNo != ''">
                and oi.order_no like concat('%', #{query.orderNo}, '%')
            </if>
            <if test="query.customerName != null and query.customerName != ''">
                and c.name like concat('%', #{query.customerName}, '%')
            </if>
            <if test="query.paymentMethod != null and query.paymentMethod != ''">
                and oi.payment_method = #{query.paymentMethod}
            </if>
            <if test="query.payStatus != null">
                and oi.pay_status = #{query.payStatus}
            </if>
            <if test="query.debtStatus != null">
                and oi.debt_status = #{query.debtStatus}
            </if>
            <if test="query.orderStatus != null">
                and oi.order_status = #{query.orderStatus}
            </if>
            <if test="query.beginTime != null">
                and oi.create_time &gt;= #{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and oi.create_time &lt;= #{query.endTime}
            </if>
        </where>
        order by oi.create_time desc
    </select>
</mapper>
