<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wkr.store_appointment.mapper.StatisticsMapper">

    <select id="countCustomers" resultType="java.lang.Long">
        select count(*) from customer
    </select>

    <select id="countTodayAppointments" resultType="java.lang.Long">
        select count(*)
        from appointment
        where appointment_time &gt;= #{beginTime}
          and appointment_time &lt; #{endTime}
    </select>

    <select id="countTodayOrders" resultType="java.lang.Long">
        select count(*)
        from order_info
        where create_time &gt;= #{beginTime}
          and create_time &lt; #{endTime}
    </select>

    <select id="sumTodayAmount" resultType="java.math.BigDecimal">
        select ifnull(sum(amount), 0)
        from order_info
        where pay_status = 1
          and create_time &gt;= #{beginTime}
          and create_time &lt; #{endTime}
    </select>

    <select id="sumPaidAmountByDate" resultType="java.math.BigDecimal">
        select ifnull(sum(amount), 0)
        from order_info
        where pay_status = 1
          and date(create_time) = #{date}
    </select>
</mapper>
